body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #3F434D;
    box-shadow: inset -200px -102px 300px 150px rgba(11,11,13,1);
}


        /* Header */

.header-wrap {
    background-color: black;
    display:flex;
    align-items: center;
    padding: 12px 60px;
}

                /* Right Side */

.search-bar {
    color: #B3B3B3;
    padding-left: 20px;
}

.search-bar > select {
    color: #B3B3B3;
    background-color: black;
    border: black 5px solid;
}

.right-side-bar > .explore {
    color: #F4E180;
}

.right-side-bar {
    padding: 3px 10px 3px 100px;
    width: 400px;
    }

.right-side-bar > .second-row {
    display: flex;
    justify-content: space-between;
    font-weight:bolder;
}

                /* Left Side */

.left-side-bar {
    padding-left: 500px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.left-side-bar > .btn > button {
    font-size: 1.5rem;
    color: white;
    background-color: #36383F;
    border: #36383F 5px solid;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}

.icon {
    color:#36383F;
    width: 2em;
}

.drop-down {
    background-color: #36383F;
    border: #36383F 5px solid;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}
.drop-down > select {
    color: #4BCE79;
    background-color: #36383F;
    border: #36383F 5px solid;
}

        /* Footer */

.footer-wrap {
    background-color: #36383F;
    display: flex;
    width: 10000px;
    height: 75px;
    
}

.footer-wrap > .section {
    font-size: 30px;
    padding-left: 10px;
    border-top: #B3B3B3 solid 1px;
    border-right: #B3B3B3 solid 2px;
    border-bottom: #B3B3B3 solid 1px;
    width: 464px;
    display: flex;
    align-items: center;
}

.footer-wrap > .section > .text {
    display: flex;
    align-items: baseline;
}

.footer-wrap > .section > .text > .giant-bolded-text {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding-left: 10px;
}

.empty-bottom-space {
    color: #191A1D;
    height: 100px;
}