body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #3F434D;
    margin: 0px;
    overflow-x: hidden;
}


        /* Header */

.header-wrap {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 60px;
}

                /* Right Side */

.search-bar {
    color: #B3B3B3;
    padding-left: 20px;
}

.search-bar > select {
    color: #B3B3B3;
    background-color: black;
    border: black 5px solid;
}

.right-side-bar > .explore {
    color: #F4E180;
}

.right-side-bar {
    width: 600px;
    }

.right-side-bar > .second-row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight:900;
}

                /* Left Side */

.left-side-bar {
    display: flex;
    justify-content: space-between;
}

.left-side-bar > .btn > button {
    font-size: 1.5rem;
    color: white;
    background-color: #36383F;
    border: #36383F 1px solid;
    border-radius: 2px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side-bar > .btn > .header-btn {
    padding: 15px;
    height: max-content;
}
.spacer {
    width:15px;
}
.icon {
    color:#3F434D;
    width: 2em;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drop-down {
    background-color: #36383F;
    border: #36383F 5px solid;
    border-radius: 2px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    width: 100px;
}
.drop-down > select {
    color: #4BCE79;
    background-color: #36383F;
    border: #36383F 5px solid;
}


        /* body */

.middle-wrap {
   display: flex;
   justify-content: space-between;
   font-weight: 100;
   box-shadow: inset -200px -200px 300px 200px rgba(0,0,0,0.75);

}

.column-A {
    color: #B3B3B3;
    width: 995px;
    padding: 30px;
    letter-spacing: 2px;
}

.column-A > .heading {
    font-size: 25px;
    text-align: left;
    letter-spacing: 3px;
}

.column-A > .additional-info {
    font-size: 24.1px;
}

.column-A b {
    color: white;
    font-weight: 900;
    font-size: 1.25em;
}

.sign-up {
    font-family: 'Open Sans', sans-serif;
    background-color: #4BCE79;
    color: black;
    border: #4BCE79 5px solid;
    border-radius: 2px;
    font-size: 60px;
    font-weight: 900;
}

.middle-wrap > .column-A > .btn {
    display: flex;
    align-items: center;
}

.middle-wrap > .column-A > .btn > .spacer {
    width: 30px;
}

.learn-more {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    border: black 5px solid;
    border-radius: 2px;
    font-size: 60px;
    font-weight: 900;
}

.column-B {
    /* why don't the indents stay? */
    padding-top: 15px;
    width: 1000px;
    font-size: 20px;
    font-weight: 700;
}

.column-B p {
    margin-block-end: 0em;
    margin-block-start: 3.5em;
}

.column-B b {
    color: #78DAFD;
    margin-left: 4px;
}

.column-B > #plz-help {
    display: block;
    align-items: center;
    float: left;
    height: 800px;
    width: 1000px;
    box-shadow: -26px -7px 93px 0px rgba(0,0,0,0.72);
}
        /* Footer */

.footer-wrap {
    background-color: #36383F;
    display: flex;
    height: 75px;
    
}

.footer-wrap > .section {
    font-size: 30px;
    padding-left: 10px;
    border-top: #B3B3B3 solid 1px;
    border-right: #B3B3B3 solid 2px;
    border-bottom: #B3B3B3 solid 1px;
    width: 24.9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrap > .section > .text {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-wrap > .section > .text > .giant-bolded-text {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding-left: 10px;
}

.empty-bottom-space {
    background-color: #191A1D;
    height: 2000px;
}


            /* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #B3B3B3;
  }
  ::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    border-radius: 30px;
  } 