body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #3F434D;
    box-shadow: inset -200px -102px 300px 150px rgba(11,11,13,1);
}
        /* Header */
.header-wrap {
    background-color: black;
    display:flex;
    align-items: center;
    padding: 12px 60px;
    border-top: black 16px solid;
}
.right-side-bar > .explore {
    color: #F4E180;
}
.right-side-bar {
    padding: 3px 3em;
    width: 400px;
    }
.right-side-bar > .second-row {
    display: flex;
    justify-content: space-between;
    font-weight:bolder;
}
.left-side-bar {
    width: 300px;
    display: flex;
    justify-content: space-between;
}


/* Footer */
.footer-wrap {
    background-color: #36383F;
}