body {
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: #3F434D;
    box-shadow: inset -75px -69px 92px -50px rgba(11,11,13,1);
}
.header-wrap {
    background-color: black;
    display:flex;
    align-items: center;
}
.header-wrap > img {
    width: 10px;
}